<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATPElYObb8jAgKkfdd4hTXuFeoQdCxpjY</string>
	<key>GCM_SENDER_ID</key>
	<string>246359242461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liquorLocate3</string>
	<key>PROJECT_ID</key>
	<string>liquorlocate-8020c</string>
	<key>STORAGE_BUCKET</key>
	<string>liquorlocate-8020c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246359242461:ios:4ecf193d2b48940a89cd34</string>
</dict>
</plist>